html {
  background: #282c34
}

body {
  min-height: 100%;
  min-width: 100%;
}

.bodycustom {
  background: #282c34;
}

.white-text {
  color: white;
}

.navbar{
  background: #2c3e50;
}

#playing-content {
margin-top: 50px;
}

.centered-url {
  margin: 0 auto;
  width: 300px;
}

.centered-video {
  margin: 0 auto;
  width: 38%;
  /* 50% ne donne pas un assez bon rendu */
}

.button_sub {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.footer {
  background: #636e72;
    margin-top: 150px;
    color: white;
 }

 .footer-text {
   color: #b33939;
 }
